.right_side_notice
  .right_side_head
    社区交易
  .open.notice_section
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
  
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
  
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
  
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

  .win.notice_section
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
  
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
  
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4

    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
  
    %p
      用户1234刚刚开仓@123.4
    %p
      用户1234刚刚开仓@123.4
