.container-fluid
  .row-fluid{"ng-controller" => "btcchartController"}
    .operation_panel.col-md-10
      %ul.list-group.bid_basic_info
        %li.list-group-item.col-md-4
          .bid_basic_info_header_label 资产：
          .bid_basic_info_header_content BTC/RMB
        %li.list-group-item.col-md-4
          .bid_basic_info_header_label 到期时间：
          .bid_basic_info_header_content
            .dropdown_selector
              .selected_opening{"ng-click" => "opening_selector_open()", "ng-hover" => "opening_selector_open()"}
                %span{"ng-if" => "selected_opening"}
                  {{format_opening(selected_opening)}}
              %ul.list-group.opening_items
                %li.list-group-item{"ng-repeat" => "open_at in open_times", "ng-click" => "opening_selected($index)"}
                  {{format_opening(open_at)}}
        %li.list-group-item.col-md-4
          .bid_basic_info_header_label 金额：
          .bid_basic_info_header_content
            %input.input_field.input-inline{:placeholder => "100", "ng-model" => "investment", "ng-change" => "investmentChange()"}
      .chart_panel.col-md-10
        .timespan_switcher.btn-group{:role => "group"}
          %button.btn.btn-sm.btn-success.active{"data-timespan" => 30 * 60, :ng_click => "change_timespan(30*60)"} 30分
          %button.btn.btn-sm.btn-success{"data-timespan" => 60 * 60, :ng_click => "change_timespan(60*60)"} 1小时
          %button.btn.btn-sm.btn-success{"data-timespan" => 60 * 60 * 2, :ng_click => "change_timespan(60*60*2)"} 2小时
          %button.btn.btn-sm.btn-success{"data-timespan" => 60 * 60 * 4, :ng_click => "change_timespan(60*60*4)"} 4小时
          %button.btn.btn-sm.btn-success{"data-timespan" => 60 * 60 * 6, :ng_click => "change_timespan(60*60*6)"} 6小时
          %button.btn.btn-sm.btn-success{"data-timespan" => 60 * 60 * 12, :ng_click => "change_timespan(60*60*12)"} 12小时
        %btc_chart_directive{"val" => "data"}
        .progress-bar
          %span.yes-percentage 40%
          %span.label.label-success.yes-progress.pull-left &nbsp;
          %span.label.label-danger.no-progress.pull-right &nbsp;
          %span.no-percentage 60%
      %ul.list-group.operation_right_info.col-md-2.text-right
        %li.list-group-item
          %span.notion
            潜在收益
          .strong {{roi}}
        %li.list-group-item
          %span.notion
            订单收益比
          .strong {{(1+roi_rate) * 100}}%
        %li.list-group-item
          %span.notion
            剩余时间
          .strong {{remain_time}}
        %li.list-group-item
          %button.btn.btn-success{"data-toggle" => "modal", "data-target" => "#myModal"}
            %i.glyphicon.glyphicon-arrow-up
            看涨
        %li.list-group-item.bid_current_price.strong
          {{current_price}}
        %li.list-group-item
          %button.btn.btn-danger{"data-toggle" => "modal", "data-target" => "#myModal"}
            %i.glyphicon.glyphicon-arrow-down
            看跌
    .col-md-2
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .modal.fade#myModal{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" =>  "modal"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only 关
            %h4.modal-title#myModalLabel Modal Title
          .modal-body
            %ul.list-group
              .list-group-item
                到期时间{{format_opening(selected_opening)}}
              .list-group-item
                下注金额{{investment}}
              .list-group-item
                剩余时间{{remain_time}}
              .list-group-item
                当前价格{{current_price}}


          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"} 取消交易
            %button.btn.btn-primary#submit_bid_button{"ng-click" => "make_transaction()"} 确定交易

