.content_wraper
  .chart_panel{"ng-controller" => "btcchartController"}
    .timespan_switcher.btn-group{:role => "group"}
      %button.btn.btn-sm.btn-primary.active{"data-timespan" => 30 * 60, :ng_click => "change_timespan(30*60)"} 30分
      %button.btn.btn-sm.btn-primary{"data-timespan" => 60 * 60, :ng_click => "change_timespan(60*60)"} 1小时
      %button.btn.btn-sm.btn-primary{"data-timespan" => 60 * 60 * 2, :ng_click => "change_timespan(60*60*2)"} 2小时
      %button.btn.btn-sm.btn-primary{"data-timespan" => 60 * 60 * 4, :ng_click => "change_timespan(60*60*4)"} 4小时
      %button.btn.btn-sm.btn-primary{"data-timespan" => 60 * 60 * 6, :ng_click => "change_timespan(60*60*6)"} 6小时
      %button.btn.btn-sm.btn-primary{"data-timespan" => 60 * 60 * 12, :ng_click => "change_timespan(60*60*12)"} 12小时
    %btc_chart_directive{"val" => "data"}
    .progress-bar
      %span.yes-percentage 40%
      %span.label.label-success.yes-progress.pull-left &nbsp;
      %span.label.label-danger.no-progress.pull-right &nbsp;
      %span.no-percentage 60%

    .clearfix

  .operation_panel{"ng-controller" => "btcOrderController"}
    %hr
    %button.btn.btn-lg.btn-success.col-md-4
      %i.glyphicon.glyphicon-arrow-up
      看涨

    .col-md-4.text-center
      %span.notion
        当前
      %strong.strong
        1234.3
    %button.btn.btn-lg.btn-danger.pull-right.col-md-4
      %i.glyphicon.glyphicon-arrow-down
      看跌
    .clearfix
    %hr
    .col-md-4.text-center
      %span.notion
        投资金额
      %input.input_field.input-lg.input-inline{:placeholder => "100", "ng-model" => "investment", "ng-change" => "investmentChange()"}

    .col-md-4.text-center
      %span.notion
        收益率
      %span.percent.strong {{(1+roi_rate) * 100}}%
    .col-md-4.text-center
      %span.notion
        潜在收益
      %span.net-income.strong {{roi}}



  .clearfix


