你好，
= @user.email
请点击下面地址激活您的账号
= link_to URI.escape(activation_url(:activation_code => @user.activation_code, :email => @user.email)), URI.escape(activation_url(:activation_code => @user.activation_code, :email => @user.email))
