.content_wraper
  .operation_panel
    .operation_panel_inner
      .list-group{"ng-controller" => "btcOrderController"}
        .list-group-item
          投资金额
          %input.input_field.input-lg.input-inline{:placeholder => "100", "ng-model" => "investment", "ng-change" => "investmentChange()"}
          .clearfix
        .list-group-item
          收益率
          %span.percent.strong {{(1+roi_rate) * 100}}%
          .clearfix
        .list-group-item
          潜在收益
          %span.net-income.strong {{roi}}
          .clearfix

        .list-group-item
          交易者选择
          .progress-bar
            %span.label.label-success.yes-progress.pull-left &nbsp;
            %span.label.label-danger.no-progress.pull-right &nbsp;
          .progress-notion
            %span.yes-notion 40%
            %span.no-notion.pull-right 60%
        .list-group-item
          %button.btn.btn-lg.btn-success.disabled
            %i.glyphicon.glyphicon-arrow-up
            看涨
          %button.btn.btn-lg.btn-danger.pull-right
            %i.glyphicon.glyphicon-arrow-down
            看跌


  .chart_panel{"ng-controller" => "btcchartController"}
    %btc_chart_directive{"val" => "data"}
    %span{:ng_repeat => "vendor in _.keys(vendors)"}
    .order_list.row.text-center
      .btn-group
        %button.btn.btn-primary 完成订单
        %button.btn.btn-primary 已购订单

      %table.table.table-stripped
        %thead
          %th 时间
          %th 结算价
          %th 购时价
          %th 涨跌
          %th 价格
          %th 赔率
        %tbody
          %tr
            %td 11/10 11:00
            %td 2340.88
            %td 2134.78
            %td 涨
            %td 200
            %td 90%
          %tr
            %td 11/10 10:00
            %td 2340.88
            %td 2134.78
            %td 涨
            %td 200
            %td 90%
          %tr
            %td 11/10 10:00
            %td 2340.88
            %td 2134.78
            %td 涨
            %td 200
            %td 90%



  .clearfix


