.list-group.left_sidebar
  .list-group-header
    %strong 个人信息
  .list-group-item
    = link_to "我的订单", dashboard_path
  .list-group-item.sidebar_item_active
    = link_to "我的订单", dashboard_orders_path
  .list-group-item
    = link_to "我的订单", dashboard_path
  .list-group-item
    = link_to "我的订单", dashboard_path



.list-group.left_sidebar
  .list-group-header
    %strong 个人信息
  .list-group-item
    个人信息
  .list-group-item
    个人信息
  .list-group-item
    个人信息
  .list-group-item
    个人信息
