.color-bar
.navbar.header
  .navbar-header
    %a.navbar-brand{:href => '/'} BTCall
  %ul.nav.navbar-nav.pull-right
    %li
      %a{:href => "/"} 我的胜率(#{ current_user.win_rate})
    %li
      %a{:href => "/"} 我的资产(#{ int_to_float(current_user.btc_balance) }￥）
    %li
      %a{:href => "/"} 交易大厅
    %li
      = link_to "退出登陆", logout_path, :method => :delete
    %li
      %a{:href => "/dashboard"} 管理


