%ul.nav.nav-stacked{:role => "tablist"}
  %li.active
    = link_to "个人信息", dashboard_path
  %li
    = link_to "充值", dashboard_path
  %li
    = link_to "体现", dashboard_path
  %li
    = link_to "个人设置", dashboard_path
