.color-bar
.navbar{:role => 'navigation'}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => '/'}  
    %ul.nav.navbar-nav.pull-right
      %li
        %a{:href => "/"} 交易大厅
      %li
        %a{:href => "/dashboard"} 个人信息
      %li
        %a{:href => "/dashboard"} 交易历史
      %li
        %a{:href => "/admin"} 管理


