.list-group.left_sidebar
  .list-group-item
    = link_to "我的订单", dashboard_path
  .list-group-item.sidebar_item_active
    = link_to "我要充值", dashboard_orders_path
  .list-group-item
    = link_to "我要提现", dashboard_path
  .list-group-item
    = link_to "我的订单", dashboard_path



