- if flash[:notice]
  .row
    .alert.alert-info{:role => "alert"}= flash[:notice].split(" ").last

- if flash[:alert]
  .row
    .alert.alert-warning{:role => "alert"}= flash[:alert].split(" ").last
