.order_list.row.text-center
  %table.table.table-stripped
    %thead
      %th 时间
      %th 结算价
      %th 购时价
      %th 涨跌
      %th 价格
      %th 赔率
    %tbody
      %tr
        %td 11/10 11:00
        %td 2340.88
        %td 2134.78
        %td 涨
        %td 200
        %td 90%
      %tr
        %td 11/10 10:00
        %td 2340.88
        %td 2134.78
        %td 涨
        %td 200
        %td 90%
      %tr
        %td 11/10 10:00
        %td 2340.88
        %td 2134.78
        %td 涨
        %td 200
        %td 90%
